.footer{  
    position: fixed;
    padding: 15px;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
  }
  /* :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  } */

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  mat-card{
    margin: 100px 500px 0px 500px;
    background-color: whitesmoke;
  }
  .padding25{
  padding: 25px;
}
  .button {
    display: flex;
    justify-content: flex-end;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .imageZoom {
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
}

.imageZoom img {
    /* width: 100%; */
    transition: 0.5s all ease-in-out;
}

.imageZoom:hover img {
    transform: scale(1.5);
}